<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
</head>
<body>
<div class="container">
    <h3>Order History</h3>
    <form th:action="@{/order/history}" method="post">
        <div class="form-group">
            <label for="authorInput">Your Name</label>
            <input type="text" name="author" class="form-control mb-4 col-4" id="authorInput" placeholder="Enter your name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
</body>
</html>
